<div class="flex flex-col  bg-[#F1F8F5] gap-10  w-[100vw] pt-10 mb-10">
  <h2 class="md:text-3xl text-2xl font-semibold self-center">Get your favourites for free</h2>
  <div>

    <div class="flex flex-col  text-center    md:text-start  bg-[#D4E9E2] flex-1 w-[100%]">
      <div class="flex  justify-center bg-[#F1F8F5] flex-1 w-[100%]">
        <div class="flex-1 md:max-w-[108px]">
          <button class="text-2xl font-semibold py-2 ">
            25<span class="text-[#CBA258] text-base">★</span>
          </button>
          
        </div>
        <div class="flex-1 md:max-w-[108px]">
          <button class="text-2xl font-semibold py-2  ">
            25<span class="text-[#CBA258] text-base">★</span>
          </button>
          
        </div>
        <div class="flex-1 md:max-w-[108px]">
          <button class="text-2xl font-semibold py-2 ">
            25<span class="text-[#CBA258] text-base">★</span>
          </button>
          <div class="h-[2px] bg-black w-[100%]"></div>
        </div>
        <div class="flex-1 md:max-w-[108px]">
          <button class="text-2xl font-semibold py-2 ">
            25<span class="text-[#CBA258] text-base">★</span>
          </button>
          <div class="h-[2px] bg-black w-[100%]"></div>
        </div>
      </div>
        <div class="flex flex-col  text-center md:flex-row   md:text-start md:justify-center bg-[#D4E9E2] flex-1 md:gap-16">
          <div class="img-container md:max-w-[375px] self-center md:self-start"><img src="src/assets/pngs/F1.png" alt="" class="h-80 md:h-56 "></div>
          <div class="text-container pt-[50px] md:max-w-[375px] self-center md:self-start px-5 m:px-0 mb-10">
              <h2 class="font-bold text-xl mb-7">Customize your drink</h2>
              <p>Make your drink just right with an extra espresso shot, nondairy milk or a dash of your favorite syrup.</p>
          </div>
        </div>
    </div>
  </div>
</div>
