<div class="flex flex-col place-items-center pt-28 gap-5 md:text-center max-w-[1440px]">
  <h2 class="font-bold text-3xl">Endless Extras</h2>
  <p class="lg:px-96 md:px-32 px-10">
    Joining Starbucks® Rewards means unlocking access to exclusive benefits.
    Say hello to easy ordering, tasty Rewards and—yes, free coffee.
  </p>
  <div
    class="flex flex-col md:flex-row gap-5 px-2 md:px-20 steps md:text-center mt-5"
  >
    <div
      class="flex flex-row md:flex-col md:text-center place-items-center gap-5"
    >
      <img
        class="self-start md:self-center hover:cursor-pointer modal-1"
        style="height: 112px; width: 112px"
        src="src/assets/pngs/1-fun-freebies.png"
      />
      <div class="flex flex-col pb-20 gap-4 md:text-base text-sm">
        <h2 class="font-bold">Fun freebies</h2>
        <p>
          Not only can you earn free coffee, look forward to a birthday treat
          plus coffee and tea refills.
        </p>
        <a class="underline hover:cursor-pointer md:text-base text-sm text-green-800 modal-1-a"
          >Learn more</a
        >
      </div>
    </div>
    <div
      class="flex flex-row md:flex-col md:text-center place-items-center gap-5"
    >
      <img
        class="self-start md:self-center hover:cursor-pointer modal-2"
        style="height: 112px; width: 112px"
        src="src/assets/pngs/2-order-and-pay-ahead.png"
      />
      <div class="flex flex-col pb-20 gap-4 md:text-base text-sm">
        <h2 class="font-bold">Order &amp; pay ahead</h2>
        <p>
          Enjoy the convenience of in-store, curbside or drive-thru pickup at
          select stores.
        </p>
        <a class="underline hover:cursor-pointer md:text-base text-sm text-green-800 modal-2-a"
          >Learn more</a
        >
      </div>
    </div>
    <div
      class="flex flex-row md:flex-col md:text-center place-items-center gap-5"
    >
      <img
        class="self-start md:self-center hover:cursor-pointer modal-3"
        style="height: 112px; width: 112px"
        src="src/assets/pngs/3-get-to-free-faster.png"
      />
      <div class="flex flex-col pb-20 gap-4 md:text-base text-sm">
        <h2 class="font-bold">Get to free faster</h2>
        <p>
          Earn Stars even quicker with Bonus Star challenges, Double Star Days
          and exciting games.
        </p>
        <a class="underline hover:cursor-pointer md:text-base text-sm text-green-800 modal-3-a"
          >Learn more</a
        >
      </div>
    </div>
  </div>
</div>
