<div
  class="md:p-9  w-full flex justify-center   bg-[#D4E9E2] "
>
  <div
    class="flex flex-col h-[100%] w-[100%] place-items-center md:text-center p-5 md:p-10 gap-5 max-w-[1440px] text-sm"
  >
    <h2 class="md:text-3xl text-2xl font-bold">Keep the Rewards Coming</h2>
    <p class="md:text-base text-sm text-center mb-5">
      The Rewards don't stop at your morning coffee. Join Starbucks® Rewards
      and unlock perks from our partners, all while earning more Stars.
    </p>
    <div class="md:flex-row flex flex-col gap-10 md:mt-10">
      <div class="flex md:flex-col place-items-center gap-5">
        <img
          class="md:w-[12rem] w-[112px]"
          src="src/assets/pngs/delta-skymiles.png"
        />
        <p>
          <a class="underline hover:no-underline text-green-800 hover:cursor-pointer">Link your Delta SkyMiles ®</a
          >and Starbucks® Rewards accounts to earn miles on Starbucks Card
          reloads of $25 or more, plus Double Stars on travel days.<sup>1</sup>
        </p>
      </div>
      <div class="flex md:flex-col place-items-center gap-5 ">
        <img
          class="md:w-[12rem] w-[112px]"
          src="src/assets/pngs/bank-of-america.png"
        />
        <p>
          <a class="underline hover:no-underline text-green-800 hover:cursor-pointer">Link your Delta SkyMiles® </a
          >and Starbucks® Rewards accounts to earn miles on Starbucks Card
          reloads of $25 or more, plus Double Stars on travel days.<sup>2</sup>
        </p>
      </div>
      <div class="flex md:flex-col place-items-center gap-5">
        <img
          class="md:w-[12rem] w-[112px]"
          src="src/assets/pngs/marriott-logo.png"
        />
        <p>
          <a class="underline hover:no-underline text-green-800 hover:cursor-pointer">Link your Delta SkyMiles® </a
          >and Starbucks® Rewards accounts to earn miles on Starbucks Card
          reloads of $25 or more, plus Double Stars on travel days.<sup class="">3</sup>
        </p>
      </div>
    </div>
    <button
      class="bg-[#158159] text-white rounded-full py-2 px-4 font-bold mt-5 text-sm md:text-base"
    >
      Join Starbucks® Rewards
    </button>
  </div>
</div>
