<div class="flex flex-col place-items-center pt-28 gap-5">
  <h2 class="font-bold text-3xl">Getting started is easy</h2>
  <p>Earn Stars and get rewarded in a few easy steps</p>
  <div
    class="flex flex-col md:flex-row gap-0 md:gap-3 px-2 md:px-20 steps md:text-center mt-5 max-w-[1440px] pb-20"
  >
    <div class="flex md:flex-col place-items-center step gap-5 ">
      <img
        class="self-start md:self-center"
        style="width: 48px; height: 48px"
        src="src/assets/pngs/circle-1.png"
      />
      <div class="flex flex-col gap-4 pb-[32px]">
        <h2 class="font-bold">Create an account</h2>
        <p class="hidden md:inline">
          To get started,
          <a class="underline hover:cursor-pointer hover:no-underline text-green-800"
            >join now. </a
          >You can also
          <a class="underline hover:cursor-pointer hover:no-underline text-green-800"
            >join in the app </a
          >to get access to the full range of Starbucks® Rewards benefits
        </p>
        <p class="md:hidden text-sm">
          <a class="underline hover:cursor-pointer hover:no-underline text-green-800"
            >Join in the app </a
          >to get access to the full range of Starbucks® Rewards benefits. You
          can also
          <a class="underline hover:cursor-pointer hover:no-underline text-green-800"
            >join online</a
          >
        </p>
      </div>
    </div>
    <div class="flex md:flex-col place-items-center step gap-5">
      <img
        class="self-start md:self-center"
        style="width: 48px; height: 48px"
        src="src/assets/pngs/circle-2.png"
      />
      <div class="flex flex-col gap-4 pb-[32px]">
        <h2 class="font-bold">Order and pay how you'd like</h2>
        <p class="text-sm md:text-base">
          Use cash, credit/debit card or save some time and pay right through
          the app. You'll collect Stars all ways.
          <a class="underline hover:cursor-pointer hover:no-underline"
            >Learn how
          </a>
        </p>
      </div>
    </div>
    <div class="flex md:flex-col place-items-center step gap-5">
      <img
        class="self-start md:self-center"
        style="width: 48px; height: 48px"
        src="src/assets/pngs/circle-3.png"
      />
      <div class="flex flex-col gap-4 pb-[32px]">
        <h2 class="font-bold">Earn Stars, get Rewards</h2>
        <p class="text-sm md:text-base">
          As you earn Stars, you can redeem them for Rewards-like free food,
          drinks, and more. Start redeeming with as little as 25 Stars!
        </p>
      </div>
    </div>
  </div>
</div>
