
.active{
    background-color: #00754A;
    height: 6px;
}
.sticky-header{
    background-color: #1E3932;
    color: #F4F5F5;
}
li:hover,.location-text:hover{
    cursor: pointer;
    color: #288B66;
}
.sign-up-btn:hover{
    background-color: #4C4C4C;
    transition-duration: 300ms;
}
.sm-nav{
    margin-top: 100px;
    border: solid 2px #EAEAEA;
}
.sm-page-titles{
    border-bottom: solid 2px #EAEAEA;
}
.sm-location-text:hover{
    color: green;
    cursor: pointer;
}
.more-icon:hover{
    cursor: pointer;
    background-color: #F0F0F0;
    border-radius: 70%;
}