<div class="flex place-items-center flex-col md:flex-row md:pl-10 ">
    <div class="flex flex-col text-center md:text-start">
        <h1 class="text-xl font-bold mt-6 flex flex-wrap  md:text-3xl self-center md:self-start  ">FREE COFFEE <br> IS A TAP AWAY</h1>
        <p class="mt-6">Join now to start earning Rewards</p>
        <button class="rounded-full px-3 py-1 mt-6 bg-[#158159] text-white self-center text-sm font-semibold md:hidden">Join in the app</button>
        <button class="hidden md:block rounded-full px-[14px] py-1 mt-4 bg-[#158159] text-white self-start">Join now</button>
        <a href="" class="underline mt-4 mb-5 md:hidden">Or join online</a>
        <p class="mt-4 mb-5 hidden md:block">Or <a href="" class="underline hidden md:inline ">join in the app</a> for the best experience</p>
    </div>
    <div></div>
</div>