<div class="flex lg:justify-center">
  <div
    class="flex flex-col py-10 pl-10 pr-2 gap-16 md:grid md:grid-cols-5 md:py-10 w-full md:pl-2 footer-top border-t-4 border-b-[#EAEAEA] border-t-[#EAEAEA] border-solid border-b-4 max-w-[1440px] lg:pr-64 text-sm"
  >
    <div class="flex flex-col md:gap-10 gap-8 hover:cursor-pointer">
      <h2 class="text-lg font-semibold flex justify-between about-us-h2">
        About Us<img src="src/assets/svgs/arrow-down.svg" class="md:hidden" />
      </h2>
      <ul
        class="hidden md:flex flex-col gap-6 about-us-ul [&_*]:text-gray-600 [&_*:hover]:text-black"
      >
        <a>Our Company</a
        ><a>Our Coffee</a
        ><a>Stories and News</a
        ><a>Starbucks Archive</a
        ><a>Investor Relations</a
        ><a>Customer Service</a
        ><a>Contact Us</a>
      </ul>
    </div>
    <div class="flex flex-col md:gap-10 gap-8 hover:cursor-pointer">
      <h2 class="text-lg font-semibold flex justify-between careers-h2">
        Careers<img src="src/assets/svgs/arrow-down.svg" class="md:hidden" />
      </h2>
      <ul
        class="hidden md:flex flex-col gap-6 careers-ul [&_*]:text-gray-600 [&_*:hover]:text-black"
      >
        <a>Culture and Values</a
        ><a>Inclusion,Diversity, and Equity</a
        ><a>College Achievement Plan</a
        ><a>Alumni Community</a
        ><a>U.S. Careers</a
        ><a>International Careers</a>
      </ul>
    </div>
    <div class="flex flex-col md:gap-10 gap-8 hover:cursor-pointer">
      <h2 class="text-lg font-semibold flex justify-between social-h2">
        Social Impact<img
          src="src/assets/svgs/arrow-down.svg"
          class="md:hidden"
        />
      </h2>
      <ul
        class="hidden md:flex flex-col gap-6 social-ul [&_*]:text-gray-600 [&_*:hover]:text-black"
      >
        <a>People</a
        ><a>Planet</a
        ><a>Environmental and Social Impact Reporting</a>
      </ul>
    </div>
    <div class="flex flex-col md:gap-10 gap-8 hover:cursor-pointer">
      <h2 class="text-lg font-semibold flex justify-between business-h2">
        For Business Partners<img
          src="src/assets/svgs/arrow-down.svg"
          class="md:hidden"
        />
      </h2>
      <ul
        class="hidden md:flex flex-col gap-6 buisness-ul [&_*]:text-gray-600 [&_*:hover]:text-black"
      >
        <a>Landlord Support Center</a
        ><a>Suppliers</a
        ><a>Corporate Gift Card Sales</a
        ><a>Office and Foodservice Coffee</a>
      </ul>
    </div>
    <div class="flex flex-col md:gap-10 gap-8 hover:cursor-pointer">
      <h2 class="text-lg font-semibold flex justify-between order-h2">
        Order and Pick Up<img
          src="src/assets/svgs/arrow-down.svg"
          class="md:hidden"
        />
      </h2>
      <ul
        class="hidden md:flex flex-col gap-6 order-ul [&_*]:text-gray-600 [&_*:hover]:text-black"
      >
        <a>Order on the App</a
        ><a>Order on the Web</a
        ><a>Delivery</a
        ><a>Order and Pick Up Options</a
        ><a>Explore and Find Coffee for Home</a>
      </ul>
    </div>
  </div>
</div>
<div
  class="flex flex-col [&amp;>*>a:hover]:cursor-pointer [&amp;>*>a:hover]:underline gap-3 pb-40"
>
  <div
    class="flex p-5 socials [&amp;_*]:rounded-full [&amp;_*:hover]:bg-[#E9E9E9] [&amp;_*]:flex [&amp;_*]:place-items-center [&amp;_*]:justify-center [&amp;_*]:p-1"
  >
    <a href="https://open.spotify.com/user/starbucks"
      ><img src="src/assets/svgs/spotify-icon.svg" /></a
    ><a href="https://www.facebook.com/Starbucks/"><img src="src/assets/svgs/facebook-icon.svg" /></a
    ><a href="https://www.pinterest.com/starbucks/"><img src="src/assets/svgs/pintrest-icon.svg" /></a
    ><a href="https://www.instagram.com/starbucks/"><img src="src/assets/svgs/instagram-icon.svg" /></a
    ><a href="https://www.youtube.com/starbucks"><img src="src/assets/svgs/youtube-icon.svg" /></a
    ><a href="https://x.com/starbucks/"><img src="src/assets/svgs/twitter-icon.svg" /></a>
  </div>
  <div class="flex flex-col px-7 gap-5">
    <a>Privacy Notice</a><a>Consumer Health Privacy Notice</a><a>Terms of Use</a
    ><a>Do Not Share My Personal Information</a><a>CA supply Chain Act</a
    ><a>Accessibility</a><a>Cookie Preferences</a>
  </div>
  <p class="p-7 text-xs text-gray-700">
    © 2024 Starbucks Coffee Company. All rights reserved.
  </p>
</div>
